<div class="container-fluid">

        <div class="centered-content margin-top">
          <h1>Consultar tipo de pieza más inspeccionada</h1>
        </div>
        <br>
        <div class="row margin-top margin-bottom justify-content-center">
            <div class="col-md-2">
              <mat-form-field>
              <input matInput [max]="selectedDateTo" [matDatepicker]="pickerFrom" placeholder="Fecha de inicio..." [(ngModel)]="selectedDateFrom">
              <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
              <mat-datepicker #pickerFrom ></mat-datepicker>
              </mat-form-field>

            </div>

            <div class="col-md-2">
              <mat-form-field>
              <input matInput [min]="selectedDateFrom" [matDatepicker]="pickerTo" placeholder="Fecha de fin..." [(ngModel)]="selectedDateTo">
              <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
              <mat-datepicker #pickerTo ></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <button type="button" (click)="consultarPieza()" [disabled]="fechasVacias()" class="btn btn-secondary boton">Consultar</button>
            </div>
        </div>
<br>
        <div class="row justify-content-center">
            <div class="">
              <div class="card" *ngIf="!cantidadVacia()">
                    <h4 class="card-header">Nombre: {{nombreTipoPieza}}</h4>
                    <div class="card-body">
                      <p class="card-text">Descripción: {{descripcion}}</p>
                      <p class="card-text">Cantidad de inspecciones: {{cantidad}}</p>
                      <button type="button" class="btn btn-secondary boton" [routerLink]="['/bienvenida']" routerLinkActive="active" (click)="volver()" >Volver a Inicio</button>
                    </div>
              </div>
              <div class="card" *ngIf="cantidadVacia()">
                    <h4 class="card-header">Nombre: --</h4>
                    <div class="card-body">
                      <p class="card-text">Descripción: --</p>
                      <p class="card-text">Cantidad de inspecciones: --</p>
                      <br><br>
                      <button type="button" class="btn btn-secondary boton" [routerLink]="['/bienvenida']" routerLinkActive="active" (click)="volver()">Volver a Inicio</button>
                    </div>
              </div>
            </div>
        </div>

</div>
