<div class="container-fluid">

  <div class="centered-content margin-top">
    <h1>Asignación de Personal</h1>
  </div>
  <br>
  <wizard #wizard navBarLayout="large-empty-symbols">

    <!--  STEP 1 -->

    <wizard-step title="Seleccionar orden" navigationSymbol="1" (stepEnter)="resetStep1()">
      <div class="centered-content margin-top">
        <div class="row">
          <!-- tabla -->
          <div class="col-md-4">
            <table class="table table-hover rounded">
              <thead>
                <tr>
                  <th style="text-align:center;">#</th>
                  <th style="text-align:center;">{{atributosOrden[0]}}</th>
                  <th style="text-align:center;">{{atributosOrden[1]}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of ordenes ; let i = index" (click)="onSelectOrden(item)" [class.selected]="isOrdenSelected(item)">
                  <td scope="row">{{i}}</td>
                  <td>{{item.numeroOrden}}</td>
                  <td>{{item.fechaIngreso}}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Detalles -->
          <div class="col-md-4">
            <div class="card text-center rounded" style="width: 100%;">
              <h4 class="card-title asig">Detalles</h4>

              <div class="card-body">
                <div class="card-text" *ngIf="!ordenVacia()">

                  <h6>Numero de Orden: {{selectedOrden.numeroOrden}} </h6>
                  <h6>Fecha de Ingreso: {{selectedOrden.fechaIngreso}}</h6>
                  <h6>Progreso: {{selectedOrden.progreso}}</h6>
                  <h6>Observaciones: {{selectedOrden.observaciones}}</h6>
                </div>
                <div class="card-text" *ngIf="ordenVacia()">
                  <h6>Numero de Orden: -</h6>
                  <h6>Fecha de Ingreso: -</h6>
                  <h6>Progreso: -</h6>
                  <h6>Observaciones: - </h6>
                </div>
              </div>
            </div>

            <br><br><br>

  <!--
            <div class="row">
                <div class="col-md-12">

                    <button (click)="calcularTrabajos()" type="button" [disabled]="ordenVacia()" class="btn btn-secondary boton" nextStep>Continuar</button>
            </div>
          </div>

    -->
            <button type="button" class="btn btn-secondary" disabled>Volver</button>
            <button (click)="calcularTrabajos()" type="button" [disabled]="ordenVacia()" class="btn btn-secondary boton" nextStep>Continuar</button>

          </div>

          <!--Asignacion-->
          <div class="col-md-4">
            <div class="card text-center rounded " style="width: 100%;">
              <h4 class="card-title asig">Asignación</h4>
              <div class="card-body">
                <div class="card-text">
                  <!--
                                    <h6>Numero de Orden: {{selectedOrden.numeroOrden}} </h6>
                                    <h6>Fecha de Ingreso: {{selectedOrden.fechaIngreso}}</h6>

                                    <div *ngIf="!trabajoVacia()">
                                      <hr>
                                      <h6>Numero de Trabajo: {{selectedTrabajo.numeroTrabajo}}</h6>
                                      <h6>Fecha de Realización: {{selectedTrabajo.fechaRealizacion}}</h6>
                                      <h6>Evaluación: {{selectedTrabajo.evaluacion}}</h6>
                                      <h6>Tipo de Trabajo: {{selectedTrabajo.tipoTrabajo.nombre}}</h6>
                                    </div>
                                  -->
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>


    </wizard-step>


    <!--  STEP 2 -->

    <wizard-step title="Seleccionar trabajo" navigationSymbol="2" (stepEnter)="resetStep2()">
      <div class="centered-content margin-top">
        <div class="row">

          <!-- tabla -->
          <div class="col-md-4">
            <table class="table table-hover rounded">
              <thead>
                <tr>
                  <th style="text-align:center;">#</th>
                  <th style="text-align:center;">{{atributosTrabajo[0]}}</th>
                  <th style="text-align:center;">{{atributosTrabajo[5]}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of trabajos ; let i = index" (click)="onSelectTrabajo(item)" [class.selected]="isTrabajoSelected(item)">
                  <td scope="row">{{i}}</td>
                  <td>{{item.numeroTrabajo}}</td>
                  <td>{{item.tipoTrabajo.nombre}}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Detalles -->
          <div class="col-md-4">
            <div class="card text-center rounded" style="width: 100%;">
              <h4 class="card-title asig">Detalles</h4>

              <div class="card-body">
                <div class="card-text" *ngIf="!trabajoVacia()">
                  <h6>Numero de Trabajo: {{selectedTrabajo.numeroTrabajo}}</h6>
                  <h6>Fecha de Realización: {{selectedTrabajo.fechaRealizacion}}</h6>
                  <h6>Evaluación: {{selectedTrabajo.evaluacion}}</h6>
                  <h6>Observación: {{selectedTrabajo.observacion}}</h6>
                  <h6>Tipo de Trabajo: {{selectedTrabajo.tipoTrabajo.nombre}}</h6>
                  <h6>Descripción: {{selectedTrabajo.tipoTrabajo.descripcion}}</h6>
                </div>
                <div class="card-text" *ngIf="trabajoVacia()">
                  <h6>Numero de Trabajo: -</h6>
                  <h6>Fecha de Realización: -</h6>
                  <h6>Evaluación: -</h6>
                  <h6>Observación: - </h6>
                  <h6>Tipo de trabajo: - </h6>
                  <h6>Descripción: - </h6>
                </div>
              </div>
            </div>
            <br><br><br>
            <button type="button" class="btn btn-secondary" previousStep>Volver</button>
            <button (click)="calcularInstrumentos()" type="button" class="btn btn-secondary" [disabled]="trabajoVacia()" nextStep>Continuar</button>
          </div>

          <!--Asignacion-->
          <div class="col-md-4">
            <div class="card text-center rounded " style="width: 100%;" *ngIf="!ordenVacia()">
              <h4 class="card-title asig">Asignación</h4>
              <div class="card-body">
                <div class="card-text">
                  <h6>Numero de Orden: {{selectedOrden.numeroOrden}} </h6>
                  <h6>Fecha de Ingreso: {{selectedOrden.fechaIngreso}}</h6>
                  <!--
                              <div *ngIf="!trabajoVacia()">
                                <hr>
                                <h6>Numero de Trabajo: {{selectedTrabajo.numeroTrabajo}}</h6>
                                <h6>Fecha de Realización: {{selectedTrabajo.fechaRealizacion}}</h6>
                                <h6>Evaluación: {{selectedTrabajo.evaluacion}}</h6>
                                <h6>Tipo de Trabajo: {{selectedTrabajo.tipoTrabajo.nombre}}</h6>
                              </div>
                            -->
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </wizard-step>

    <!--  STEP 3 -->


    <wizard-step title="Seleccionar personal" navigationSymbol="3" (stepEnter)="resetStep3()">
      <div class="centered-content margin-top">
        <div class="row">

          <!-- tabla -->
          <div class="col-md-4">
            <table class="table table-hover rounded">
              <thead>
                <tr>
                  <th style="text-align:center;">#</th>
                  <th style="text-align:center;">{{atributosPersonal[1]}}</th>
                  <th style="text-align:center;">{{atributosPersonal[2]}}</th>
                  <th style="text-align:center;">{{atributosPersonal[5]}}</th>
                  <th style="text-align:center;">{{atributosPersonal[6]}}</th>


                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of personal ; let i = index" (click)="onSelectPersonal(item)" [class.selected]="isPersonalSelected(item)">
                  <td scope="row">{{i}}</td>
                  <td>{{item.nombre}}</td>
                  <td>{{item.apellido}}</td>
                  <td>{{item.puesto}}</td>
                  <td>{{item.asignado}}</td>

                </tr>
              </tbody>
            </table>
          </div>

          <!-- Detalles -->
          <div class="col-md-4">
            <div class="card text-center rounded" style="width: 100%;">
              <h4 class="card-title asig">Detalles</h4>
              <div class="card-body">
                <div class="card-text" *ngIf="!personalVacia()">
                  <h6>Cuil: {{selectedPersonal.cuil}}</h6>
                  <h6>Nombre: {{selectedPersonal.nombre}}</h6>
                  <h6>Apellido: {{selectedPersonal.apellido}}</h6>
                  <h6>Dirección: {{selectedPersonal.direccion}}</h6>
                  <h6>Teléfono: {{selectedPersonal.telefonos}}</h6>
                  <h6>Puesto: {{selectedPersonal.puesto}}</h6>
                  <h6>Estado: {{selectedPersonal.asignado}}</h6>

                </div>
                <div class="card-text" *ngIf="personalVacia()">
                  <h6>Cuil: -</h6>
                  <h6>Nombre: -</h6>
                  <h6>Apellido: -</h6>
                  <h6>Dirección: -</h6>
                  <h6>Teléfono: -</h6>
                  <h6>Puesto: -</h6>
                  <h6>Estado:-</h6>
                </div>
              </div>
            </div>
            <br><br><br>
            <button type="button" class="btn btn-secondary" previousStep>Volver</button>
            <button [disabled]="personalVacia()" *ngIf="!hayInstrumentos()" type="button" class="btn btn-secondary" (click)="errorInstrumento()">Continuar</button>
            <button [disabled]="personalVacia()" *ngIf="hayInstrumentos()" type="button" class="btn btn-secondary" nextStep>Continuar</button>

          </div>

          <!--Asignacion-->
          <div class="col-md-4">
            <div class="card text-center rounded" style="width: 100%;" *ngIf="!trabajoVacia()">
              <h4 class="card-title asig">Asignación</h4>
              <div class="card-body">
                <div class="card-text">
                  <h6>Numero de Orden: {{selectedOrden.numeroOrden}} </h6>
                  <h6>Fecha de Ingreso: {{selectedOrden.fechaIngreso}}</h6>
                  <hr>
                  <h6>Numero de Trabajo: {{selectedTrabajo.numeroTrabajo}}</h6>
                  <h6>Fecha de Realización: {{selectedTrabajo.fechaRealizacion}}</h6>
                  <h6>Evaluación: {{selectedTrabajo.evaluacion}}</h6>
                  <h6>Tipo de Trabajo: {{selectedTrabajo.tipoTrabajo.nombre}}</h6>
                  <!--
                            <div *ngIf="!personalVacia()">
                              <hr>
                              <h6>Nombre: {{selectedPersonal.nombre}}</h6>
                              <h6>Apellido: {{selectedPersonal.apellido}}</h6>
                              <h6>Puesto: {{selectedPersonal.puesto}}</h6>
                              <h6>Estado: {{selectedPersonal.asignado}}</h6>
                            </div>
                          -->
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </wizard-step>


    <!--  STEP 4 -->


    <wizard-step title="Seleccionar instrumento" navigationSymbol="4">
      <div class="centered-content margin-top">
        <div class="row">

          <!-- tabla -->

          <div class="col-md-4">
            <table class="table table-hover rounded">
              <thead>
                <tr>
                  <th style="text-align:center;">#</th>
                  <th style="text-align:center;">{{atributosInstrumento[1]}}</th>
                  <th style="text-align:center;">{{atributosInstrumento[2]}}</th>
                  <th style="text-align:center;">{{atributosInstrumento[3]}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of instrumentos; let i = index" (click)="onSelectInstrumento(item)" [class.selected]="isInstrumentoSelected(item)">
                  <td scope="row">{{i}}</td>
                  <td>{{item.nombre}}</td>
                  <td>{{item.estado}}</td>
                  <td>{{item.disponibilidad}}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Detalles -->
          <div class="col-md-4">
            <div class="card text-center rounded" style="width: 100%;">
              <h4 class="card-title asig">Detalles</h4>
              <div class="card-body">

                <div class="card-text" *ngIf="!instrumentoVacia()">
                  <h6>Numero de Instrumento:  {{selectedInstrumento.numeroInstrumento}}</h6>
                  <h6>Nombre: {{selectedInstrumento.nombre}}</h6>
                  <h6>Estado: {{selectedInstrumento.estado}}</h6>
                  <h6>Disponibilidad: {{selectedInstrumento.disponibilidad}}</h6>
                  <h6>Fecha de Ingreso: {{selectedInstrumento.fechaIngreso}}</h6>

                </div>
                <div class="card-text" *ngIf="instrumentoVacia()">
                  <h6>Numero de Instrumento: -</h6>
                  <h6>Nombre: -</h6>
                  <h6>Estado: -</h6>
                  <h6>Disponibilidad: - </h6>
                  <h6>Fecha de Ingreso: - </h6>

                </div>
              </div>
            </div>
            <br><br><br>
            <button type="button" class="btn btn-secondary" previousStep>Volver</button>
            <button type="button" class="btn btn-secondary" [disabled]="instrumentoVacia()" nextStep>Continuar</button>


          </div>

          <!--Asignacion-->
          <div class="col-md-4">
            <div class="card text-center rounded" style="width: 100%;" *ngIf="!personalVacia()">
              <h4 class="card-title asig">Asignación</h4>
              <div class="card-body">
                <div class="card-text">
                  <h6>Numero de Orden: {{selectedOrden.numeroOrden}} </h6>
                  <h6>Fecha de Ingreso: {{selectedOrden.fechaIngreso}}</h6>
                  <hr>
                  <h6>Numero de Trabajo: {{selectedTrabajo.numeroTrabajo}}</h6>
                  <h6>Fecha de Realización: {{selectedTrabajo.fechaRealizacion}}</h6>
                  <h6>Evaluación: {{selectedTrabajo.evaluacion}}</h6>
                  <h6>Tipo de Trabajo: {{selectedTrabajo.tipoTrabajo.nombre}}</h6>
                  <hr>
                  <h6>Nombre: {{selectedPersonal.nombre}}</h6>
                  <h6>Apellido: {{selectedPersonal.apellido}}</h6>
                  <h6>Puesto: {{selectedPersonal.puesto}}</h6>
                  <h6>Estado: {{selectedPersonal.asignado}}</h6>
                  <hr>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </wizard-step>



    <!--STEP 5 -->


    <wizard-step title="Finalizar asignación" navigationSymbol="5">
      <div class="centered-content margin-top">
        <div class="row">

          <!--Asignacion-->
          <div class="col-md-4 centered-content" *ngIf="!instrumentoVacia()">
            <div class="card text-center margin-bottom rounded" style="width: 100%;">
              <h4 class="card-title asig">Asignación final</h4>
              <div class="card-body">
                <div class="card-text">
                  <h6>Numero de Orden: {{selectedOrden.numeroOrden}} </h6>
                  <h6>Fecha de Ingreso: {{selectedOrden.fechaIngreso}}</h6>
                  <hr>
                  <h6>Numero de Trabajo: {{selectedTrabajo.numeroTrabajo}}</h6>
                  <h6>Fecha de Realización: {{selectedTrabajo.fechaRealizacion}}</h6>
                  <h6>Evaluación: {{selectedTrabajo.evaluacion}}</h6>
                  <h6>Tipo de Trabajo: {{selectedTrabajo.tipoTrabajo.nombre}}</h6>
                  <hr>
                  <h6>Nombre: {{selectedPersonal.nombre}}</h6>
                  <h6>Apellido: {{selectedPersonal.apellido}}</h6>
                  <h6>Puesto: {{selectedPersonal.puesto}}</h6>
                  <h6>Estado: {{selectedPersonal.asignado}}</h6>
                  <hr>
                  <h6>Nombre: {{selectedInstrumento.nombre}}</h6>
                  <h6>Disponibilidad: {{selectedInstrumento.disponibilidad}}</h6>
                  <hr>
                </div>
              </div>
            </div>

            <button type="button" class="btn btn-secondary boton" (click)="confirmacion();wizard.reset()">Reset</button>
            <button type="button" class="btn btn-secondary boton" [routerLink]="['/bienvenida']" routerLinkActive="active" (click)="asignacionRealizada()">Finalizar</button>

          </div>
        </div>
      </div>
    </wizard-step>

  </wizard>
</div>
