<body>
<div class="container-fluid" id="style">

  <div class="centered-content margin-top">
    <h1>Trabajos Supervisados</h1>
  </div>
  <br>
  <wizard #wizard navBarLayout="large-empty-symbols">

    <!--  STEP 1 -->

    <wizard-step title="Seleccionar personal" navigationSymbol="1" (stepEnter)="resetStep1()">
      <div class="centered-content margin-top">

        <div class="row">
            <div class="col-md-11">
              <button [disabled]="personalVacia()" type="button" class="btn btn-secondary boton" nextStep>Continuar</button>
            </div>
        </div>

        <div class="row">

          <!-- tabla -->
          <div class="col-md-4">
            <table class="table table-hover rounded">
              <thead>
                <tr>
                  <th style="text-align:center;">#</th>
                  <th style="text-align:center;">{{atributosPersonal[1]}}</th>
                  <th style="text-align:center;">{{atributosPersonal[2]}}</th>
                  <th style="text-align:center;">{{atributosPersonal[5]}}</th>
                  <th style="text-align:center;">{{atributosPersonal[6]}}</th>


                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of personal ; let i = index" (click)="onSelectPersonal(item)" [class.selected]="isPersonalSelected(item)">
                  <td scope="row">{{i}}</td>
                  <td>{{item.nombre}}</td>
                  <td>{{item.apellido}}</td>
                  <td>{{item.puesto}}</td>
                  <td>{{item.asignado}}</td>

                </tr>
              </tbody>
            </table>
          </div>

          <!-- Detalles -->
          <div class="col-md-4">
            <div class="card text-center rounded" style="width: 100%;">
              <h4 class="card-title asig">Detalles</h4>
              <div class="card-body">
                <div class="card-text" *ngIf="!personalVacia()">
                  <h6>Cuil: {{selectedPersonal.cuil}}</h6>
                  <h6>Nombre: {{selectedPersonal.nombre}}</h6>
                  <h6>Apellido: {{selectedPersonal.apellido}}</h6>
                  <h6>Dirección: {{selectedPersonal.direccion}}</h6>
                  <h6>Teléfono: {{selectedPersonal.telefonos}}</h6>
                  <h6>Puesto: {{selectedPersonal.puesto}}</h6>
                  <h6>Estado: {{selectedPersonal.asignado}}</h6>

                </div>
                <div class="card-text" *ngIf="personalVacia()">
                  <h6>Cuil: -</h6>
                  <h6>Nombre: -</h6>
                  <h6>Apellido: -</h6>
                  <h6>Dirección: -</h6>
                  <h6>Teléfono: -</h6>
                  <h6>Puesto: -</h6>
                  <h6>Estado:-</h6>
                </div>
              </div>
            </div>
            <br><br><br>

          </div>

          <!--Empleado-->
          <div class="col-md-4">
            <div class="card text-center rounded" style="width: 100%;">
              <h4 class="card-title asig">Empleado</h4>
              <div class="card-body">
                <div class="card-text">
                        <!--
                  <h6>Numero de Orden: {{selectedOrden.numeroOrden}} </h6>
                  <h6>Fecha de Ingreso: {{selectedOrden.fechaIngreso | date:'d-MM-y'}}</h6>
                  <hr>
                  <h6>Numero de Trabajo: {{selectedTrabajo.numeroTrabajo}}</h6>
                  <h6>Tipo de Trabajo: {{selectedTrabajo.tipoTrabajo.nombre}}</h6>

                            <div *ngIf="!personalVacia()">
                              <hr>
                              <h6>Nombre: {{selectedPersonal.nombre}}</h6>
                              <h6>Apellido: {{selectedPersonal.apellido}}</h6>
                              <h6>Puesto: {{selectedPersonal.puesto}}</h6>
                              <h6>Estado: {{selectedPersonal.asignado}}</h6>
                            </div>
                          -->
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </wizard-step>


    <!--  STEP 2 -->


    <wizard-step title="Seleccionar periodo fecha" navigationSymbol="2">
      <div class="centered-content margin-top">

        <div class="row">
            <div class="col-md-11">
              <button type="button" class="btn btn-secondary boton" [disabled]="!fechaCompletada()" nextStep>Continuar</button>
              <button type="button" class="btn btn-secondary boton" previousStep>Volver</button>
            </div>
        </div>

        <div class="row">

          <!-- date picker -->

          <div class="col-md-8">

            <mat-card>

                <mat-form-field>
                <input matInput [max]="selectedDateTo" [matDatepicker]="pickerFrom" placeholder="Fecha de inicio..." [(ngModel)]="selectedDateFrom">
                <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                <mat-datepicker #pickerFrom ></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                <input matInput [min]="selectedDateFrom" [matDatepicker]="pickerTo" placeholder="Fecha de fin..." [(ngModel)]="selectedDateTo">
                <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                <mat-datepicker #pickerTo ></mat-datepicker>
                </mat-form-field>

            </mat-card>

          </div>


          <!--Empleado-->
          <div class="col-md-4">
            <div class="card text-center rounded" style="width: 100%;" *ngIf="!personalVacia()">
              <h4 class="card-title asig">Empleado</h4>
              <div class="card-body">
                <div class="card-text">
                  <h6>Nombre: {{selectedPersonal.nombre}}</h6>
                  <h6>Apellido: {{selectedPersonal.apellido}}</h6>
                  <h6>Puesto: {{selectedPersonal.puesto}}</h6>
                  <h6>Estado: {{selectedPersonal.asignado}}</h6>
                  <hr>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </wizard-step>



    <!--STEP 3 -->


    <wizard-step title="Confirmacion" navigationSymbol="3">
      <div class="centered-content margin-top">

        <div class="row">
            <div class="col-md-11">
              <button type="button" class="btn btn-secondary boton" [routerLink]="['/bienvenida']" routerLinkActive="active" (click)="consultaRealizada()">Iniciar</button>
              <button type="button" class="btn btn-secondary boton" previousStep>Volver</button>
              <button type="button" class="btn btn-secondary boton" (click)="confirmacion();wizard.reset()">Reset</button>

            </div>
        </div>

        <div class="row">

          <!--Empleado-->
          <div class="col-md-4 centered-content">
            <div class="card text-center margin-bottom rounded" style="width: 100%;" *ngIf="fechaCompletada()">
              <h4 class="card-title asig">Empleado</h4>
              <div class="card-body">
                <div class="card-text">
                  <h6>Nombre: {{selectedPersonal.nombre}}</h6>
                  <h6>Apellido: {{selectedPersonal.apellido}}</h6>
                  <h6>Puesto: {{selectedPersonal.puesto}}</h6>
                  <h6>Estado: {{selectedPersonal.asignado}}</h6>
                  <hr>
                  <h6>Fecha de Inicio: {{selectedDateFrom.toLocaleDateString()}}</h6>
                  <h6>Fecha de Fin: {{selectedDateTo.toLocaleDateString()}}</h6>
                  <hr>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </wizard-step>

        <wizard-step title="Resultados Consulta" navigationSymbol="4">
          <div class="centered-content margin-top">

            <div class="row">
                <div class="col-md-11">
                  <button type="button" class="btn btn-secondary boton" previousStep>Volver</button>
                  <button type="button" class="btn btn-secondary boton" (click)="confirmacion();wizard.reset()">Reset</button>
                </div>
            </div>

            <div class="row">

              <!-- tabla -->
              <div class="col-md-4">
                <table class="table table-hover rounded">
                  <thead>
                    <tr>
                      <th style="text-align:center;">#</th>
                      <th style="text-align:center;">{{atributosTrabajo[0]}}</th>
                      <th style="text-align:center;">{{atributosTrabajo[5]}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of trabajos ; let i = index" (click)="onSelectTrabajo(item)" [class.selected]="isTrabajoSelected(item)">
                      <td scope="row">{{i}}</td>
                      <td>{{item.numeroTrabajo}}</td>
                      <td>{{item.tipoTrabajo.nombre}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <!-- Detalles -->
              <div class="col-md-4">
                <div class="card text-center rounded" style="width: 100%;">
                  <h4 class="card-title asig">Detalles</h4>

                  <div class="card-body">
                    <div class="card-text" *ngIf="!trabajoVacia()">
                      <h6>Numero de Trabajo: {{selectedTrabajo.numeroTrabajo}}</h6>
                      <h6>Observación: {{selectedTrabajo.observacion}}</h6>
                      <h6>Tipo de Trabajo: {{selectedTrabajo.tipoTrabajo.nombre}}</h6>
                      <h6>Descripción: {{selectedTrabajo.tipoTrabajo.descripcion}}</h6>
                    </div>
                    <div class="card-text" *ngIf="trabajoVacia()">
                      <h6>Numero de Trabajo: -</h6>
                      <h6>Observación: - </h6>
                      <h6>Tipo de trabajo: - </h6>
                      <h6>Descripción: - </h6>
                    </div>
                  </div>
                </div>
                <br><br><br>
              </div>

                        <!--Empleado-->
                        <div class="col-md-4">
                          <div class="card text-center rounded" style="width: 100%;" *ngIf="fechaCompletada()">
                            <h4 class="card-title asig">Empleado</h4>
                            <div class="card-body">
                              <div class="card-text">
                                <h6>Nombre: {{selectedPersonal.nombre}}</h6>
                                <h6>Apellido: {{selectedPersonal.apellido}}</h6>
                                <h6>Puesto: {{selectedPersonal.puesto}}</h6>
                                <h6>Estado: {{selectedPersonal.asignado}}</h6>
                                <hr>
                                <h6>Fecha de Inicio: {{selectedDateFrom.toLocaleDateString()}}</h6>
                                <h6>Fecha de Fin: {{selectedDateTo.toLocaleDateString()}}</h6>
                                <hr>
                              </div>
                            </div>
                          </div>
                        </div>
            </div>
          </div>
        </wizard-step>

  </wizard>
</div>
</body>
